
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, button, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, input, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, select, small, span, strike, strong, sub, summary, sup, table, tbody, td, textarea, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 16px;
    letter-spacing: -1px;
    vertical-align: baseline;
    color: #000000;
}

.header-bottom {
    display: block;
    border-bottom: 1px solid #dedede;
}

.inner {
    width: 1700px;
    height: 90px;
    margin: 0 auto;
    position: relative;
}

.header-bottom .gnb1 {
    font-size: 0px;
    width: 520px;
}

.header-bottom .gnb1 > li:hover > a{
    color: #4b7bff;
}

.header-bottom .gnb1 > li {
    display: inline-block;
    width: 100px;
    vertical-align: top;
    text-align: center;
}


.header-bottom .gnb1 > li > a {
    display: block;
    text-decoration: none;
    font-size: 18px;
    padding: 30px 0;
}

.header-bottom .gnb2 {
    display: none;
    background: #ffffff;
}

.header-bottom .gnb1 > li:hover > .gnb2 {
    display: block;
}

.header-bottom .gnb2 a {
    display: block;
    text-decoration: none;
    padding: 10px 0;
}

.header-bottom .gnb2 a:hover {
    color: #4b7bff;
}


li, ol, ul {
    list-style: none;
}

section {
    display: block;
    height: 86px;
    height: 2477px;
}

.art1 {
    display: block;
    height: 771px;
    background: url(../../art1.pantone.png);
}


.hero{
    background-image: url(//theme.zdassets.com/theme_assets/10313248/bbf7aaa6087c8364f2a1b84887f8c3826e19f967.png);
    background-position: center;
    background-size: cover;
    height: 300px;
    padding: 0 20px;
    text-align: center;
}

.hero-inner{
    position: relative;
    top:30%;
}

.intro-title{

    font-size: 40px;
    font-weight: 700;
}