a, abbr, acronym, address, applet, article, aside, audio,
b, big, blockquote, body, button,
canvas, caption, center, cite, code,
dd, del, details, dfn, div, dl, dt,
em, embed,
fieldset, figcaption, figure, footer, form,
h1, h2, h3, h4, h5, h6, header, hgroup, html,
i, iframe, img, input, ins,
kbd,
label, legend, li,
mark, menu,
nav,
object, ol, output,
p, pre,
q,
ruby,
s, samp, section, select, small, span, strike, strong, sub, summary, sup,
table, tbody, td, textarea, tfoot, th, thead, time, tr, tt,
u, ul,
var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 16px;
    letter-spacing: -1px;
    vertical-align: baseline;
    color: #343a40;
    text-decoration: none;
}


/** header */
.header-top {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    z-index: auto;
    border-bottom: 1px solid #dedede;
}

.top-inner {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 72px;
    max-width: 1080px;
    margin: 0px auto;
}

.logo-btn {
    margin: 0px;
    padding: 0px;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    touch-action: manipulation;
}

.logo {
    display: block;
    width: 225px;
}

.header-bottom {
    display: block;
    position: relative;
    width: 100%;
    height: 10%;
    z-index: auto;
    font-weight: bold;
}

.bot-inner {
    position: relative;
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
    max-height: 200px;
}

/** gnb */

.header-bottom .gnb1 {
    width: auto;
    z-index: 1000;
}

li, ol, ul {
    border-radius: 10px;
    list-style: none;
}

.header-bottom .gnb1 > li:hover > a{
    color: #4b7bff;
}

.header-bottom .gnb1 > li {
    display: inline-block;
    left: 0px;
    width: auto;
    vertical-align: top;
    text-align: center;
}

.gnb-selector {
    margin-left: 10px;
}

.header-bottom .gnb1 > li > a {
    text-align: left;
    display: flex;
    height: 30px;
    width: auto;
    text-decoration: none;
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.header-bottom .gnb2 {
    display: none;
    box-shadow: 0 0 8px rgb(19 65 255 / 70%);
    background: #ffffff;
    z-index: 1000;
}

.header-bottom .gnb1 > li:hover > .gnb2 {
    display: block;
}

.header-bottom .gnb2 a {
    display: block;
    text-decoration: none;
    width: auto;
    padding: 10px 0px;
}

.header-bottom .gnb2 a:hover {
    color: #4b7bff;
}


*{
    margin:0;
    padding: 0;
    color: #343a40;
    overflow-x: hidden;
}
.travel-con{
    position: relative;
    margin-top: 100px;
}

.css-voiww9--Detail-style--body{
    position: relative;
    width: 100%;
    margin: 0 auto;
    z-index: 1;
}


.css-j8zj7t--PromotionImage-style--image{
    margin: 0 auto;
    justify-content: center;
    width: 50%;
    display: flex;
    z-index: 1;
}

.css-y5m0bt{
    display: inline-flex;
    overflow: hidden;
    position: relative;
    inset: 0;
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.title-container{
    position: relative;
    left: 15%;
    font-size: 20px;
    font-weight: bold;

}

.travel-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff;

}

.travel-container img{
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin: 0 2rem 0;
    cursor: pointer;
}

.travel-container a{
    text-decoration: none;
    color: black;
}

.flex-list{
    display: flex;
    margin-bottom: 30px;
}

.country{
    position: relative;
    left: 42%;
}

.best-title{
    position: relative;
    left: 5%;
    font-size: 20px;
    font-weight: bold;
}


.best-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 100%;
}

.flex-best-list{
    display: flex;
}

.flex-best-list .item{
    margin: 5px;

}

.flex-best-list img{
    margin: 20px;
    object-fit: cover;
    width: 250px;
    border-radius: 15px;
}

.best-country{
    inline-size: 300px;
    overflow-wrap: break-word;
}

.best-country{
    text-align: center;
    text-decoration-line: none;
    color: black;
}

.best-country img{
    height: 11px;
    display: inline-block;
    object-fit: cover;
    width: 11px;
    position: relative;
}

.css-1u5xcy6--RatingStars--RatingsContainer{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.star-content{
    position: relative;
    right: 2%;
}